body {
    background-color:#e0e7ff;  
}

#judul {
      color: rgb(0, 0, 0);
      font-size: large;
      padding: 10px;
      text-align: left;
}

.container {
      display: flex;
      justify-content: center;
      gap: 15px;
      margin-top: 20px;
}
.card {
      background: white;
      padding: 10px;
      width: 300px;
      border-radius: 10px;
      border : solid rgba(0, 0, 0, 0);
      text-align: center;
      -webkit-box-shadow: 12px 12px 0px 0px #000000; 
      box-shadow: 12px 12px 0px 0px #000000;
}
.card img {
      width: 250px;
      margin-top : 20px;
      outline: 2px solid #000000;
      outline-offset: 0px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
}

.ketua1 {
      border: solid rgb(0, 0, 0);
}

.ketua2 {
      border: solid rgb(0, 0, 0);
      background-color:#86efac;
}

.ketua3 {
      border: solid rgb(0, 0, 0);
      background-color:#93c5fd;
}

.kotak {
      background-color: white;
      padding: 5px;
      outline: 2px solid #000000; 
      -webkit-border-radius: 5px;
      border-radius: 5px;
}

